<%= form_for @artist do |f| %>

	<ul>
    <% @artist.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :image_url %>
  <%= f.text_field :image_url %>

  <label>Photos</label>

<div class="form-group">
 <span class="btn btn-default">
    Upload Photos
    <%= file_field_tag "images[]", type: :file, multiple: true %>
  </span>
</div>

  <%= f.submit (@artist.new_record? ? "Create" : "Update") %>




<% end %>